body{
  background-color: #8f8f8f; 
  background-image: linear-gradient(to bottom right, lightblue, green); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
}

.jumbotron {
  float: none;
  text-align: center;
  background-color: #fcf2bd;
  padding-bottom: 20px;
  padding-top: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1{
  font:bold;
}



.side-nav{
  background-color: whitesmoke;
  float: left;
  text-align: left;
  padding-bottom: 100%;

  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.monkey{
  font-size: 80px;    
  color: black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: whitesmoke;
  color: black;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.search-container button{
  float:left;
}

.card-body {
  width: 750px;  
}

.search-container {
  float: left;
}


.submit{
  position: relative;
}

#post-card {
  float: right;
  font-weight: 700;
  margin-top: -15px;
}

.g_login{
  font-size: 45px;
  float: left;
  padding-right: 5px;

  
  
}

#g_login{
  font-size: 70px;
  float: left;
  padding-right: 5px;
  padding:30px;
  
  
}




.login{
  font-size: 40px;
  float: left;
  padding-right: 5px;
}

.logout{
  font-size: 40px;
  float: left;
}

/* form style and text */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: 'Roboto', sans-serif;
}

 .side-nav {
    border: 0px;
  }

h2 {
  width: 200px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;    
}
